<!DOCTYPE html>
<html>
  <body>
    Welcome to the Stompmeter, {{nick}}!
    <form action=record method=get enctype=multipart/form-data>
      <input type="submit" value="Record training"/>
    </form>
    <br>
    Your score for the week ending {{week_end_date}} is: {{week_points}}
    <br><br>
    And here are some of your recent efforts:
    <br>
    {% for recent in recents %}
    {{recent['date']}}: {{recent['points']}} points
    <br>
    {% endfor %}
    <br>
    <form action=signup method=get enctype=multipart/form-data>
      <input type="submit" value="Change nickname"/>
    </form>
    <form action=logout method=get enctype=multipart/form-data>
      <input type="submit" value="Log out"/>
    </form>
  </body>
</html>
