<!DOCTYPE html>
<html>
  <style>
    td {
      text-align: center;
      border: 1px solid black;
    }
    table {
      border-collapse: collapse;
    }
  </style>
  <body>
    Welcome to the Stompmeter, {{nick}}!
    <form action=record method=get enctype=multipart/form-data>
      <input type="submit" value="Record training"/>
    </form>
    <br>
    Your score for the week ending {{week_end_date}} is:<br>{{week_points}}
    <br><br>
    And here are some of your recent efforts:
    <br>
    {% for recent in recents %}
    {{recent['date']}}: {{recent['points']}} points
    <br>
    {% endfor %}
    <br>
    And finally, the standings:
    <table>
      <tr>
        <td></td>
        {% for nick in nicks %}
        <td>{{nick}}</td>
        {% endfor %}
      </tr>
      <!--<tr>
        <th>Glowsticks</th>
        {% for glowstick in glowsticks %}
        <th>{{glowstick}}</th>
        {% endfor %}
      </tr>-->
      {% for week in weeks %}
      <tr>
        <td>{{week['date']}}</td>
        {% for point in week['points'] %}
        <td>{{point}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <form action=signup method=get enctype=multipart/form-data>
      <input type="submit" value="Change nickname"/>
    </form>
    <form action=logout method=get enctype=multipart/form-data>
      <input type="submit" value="Log out"/>
    </form>
  </body>
</html>
